<div class="app-form" controller="app.components.forms.PlayerForm">
  <div class="app-form-input" tag="name" apply="components.material.inputs.InputRequiredBehavior" component="input" label="Name"></div>
</div>
