﻿<div app-main controller="speech.AppMain">
    <style component="css-helpers"></style>
    <style component="css-material-icons"></style>
    <div>
        <h3>Test Speech Recognition Long text listening.</h3>
        <div tag="long-test-textarea" component="textarea"></div>
        <div tag="long-test-mic" component="icon-button" class="text-title"><i class="material-icons">mic</i></div>
        <div tag="long-test-stop" component="icon-button" class="text-title"><i class="material-icons">stop</i></div>
    </div>
    <div>
        <h3>Speech Synthesis test</h3>
        <div tag="speech-synthesis-test" component="icon-button" class="text-title"><i class="material-icons">volume_up</i></div>
    </div>
    <div>
        <h3>Question Answer</h3>
        <div tag="question-answer-test" component="icon-button" class="text-title"><i class="material-icons">volume_up</i></div>
    </div>
</div>
