﻿<div controller="StateManagerDemo.AppMain">
    <style component="css-helpers"></style>
    <div style="height: 60px; line-height: 60px;">
        <div class="pull-left">
            <button tag="pop">Pop</button>
            <button tag="jam-thread">Jam Thread</button>
        </div>
        <div class="pull-right">
            <select tag="state-name">
                <option value="one">One</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
            </select>
            <button tag="push">Push</button>
            <button tag="replace">Replace</button>
        </div>
    </div>
    <div tag="state-manager" component="state-manager" class="background-light" style="position: absolute; top: 60px; left: 0; right: 0; bottom: 0; overflow: auto;">
        <!--<div name="one" component="./StateOne.html" class="fill-parent"></div>
        <div name="two" component="./StateTwo.html" class="fill-parent"></div>
        <div name="three" component="./StateThree.html" class="fill-parent"></div>-->
        <div component="lazy-load" name="one" lazy-load="./StateOne.html" class="fill-parent">
            <div component="preloader-circle-view" style="width: 100px; height: 100px;"></div>
        </div>
        <div component="lazy-load" name="two" lazy-load="./StateTwo.html" class="fill-parent">
            <div component="preloader-circle-view" style="width: 100px; height: 100px;"></div>
        </div>
        <div tag="three" component="lazy-load" name="three" lazy-load="./StateThree.html" class="fill-parent">
            <div component="preloader-circle-view" style="width: 100px; height: 100px;"></div>
        </div>
    </div>
    <div tag="footer" class="hide">I am a footer</div>
</div>
