﻿<div state-three controller="StateManagerDemo.StateThree">
    <style component="css-helpers"></style>
    <style>
        [state-three] {
            height: 3000px;
            width: 100%;
            background-color: rgba(0,0,0,0.3);
        }
    </style>
    <div style="background: #fff;
                width: 400px;
                height: 400px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;">
        <div class="extra-padding">State three</div>

        <div tag="select" component="input-container" class="input-validate" span="4" apply="components.material.inputs.InputRequiredBehavior" float-label>
            <div selector="label">Select</div>
            <div selector="input-component" component="select" class="input">
                <select>
                    <option class="hide"></option>
                    <option selected>Hello</option>
                    <option>Hello2</option>
                </select>
            </div>
            <div selector="helper">HELPER</div>
        </div>

    </div>
</div>