﻿<div state-two controller="StateManagerDemo.StateTwo">
    <style>
        [state-two] {
             height: 100%;
            width: 100%;
            background-color: green;
        }
    </style>
    State Two
</div>