﻿<div state-one controller="StateManagerDemo.StateOne">
    <style>
        [state-one] {
            height: 100%;
            width: 100%;
            background-color: red;
        }
    </style>
    State One
</div>