﻿<div home controller="demos.login.Home">
    <div tag="state-manager" component="ui-state-manager">
        <div app-main-state tag="login" name="login" component="login"><img src="https://my.leavitt.com/v1.1/Components/Leavitt/lg-login/Logo.png" /></div>
     </div>
</div>