﻿<div component controller="demos.training5222015.Component">
    <style component="css-helpers"></style>
    <style>
        [component-menu] {
            height: 100%;
            width: 300px;
        }

        [component-leavitt-profile-image] {
            width: 62px;
            height: 62px;
        }
    </style>
    <div tag="two-column-left-overlay" component="two-column-left-overlay">
        <div component-menu class="background-light overflow-auto">
            <div class="extra-padding background-primary">
                <div component-leavitt-profile-image component="leavitt-profile-image"></div>
                <h4 class="text-light extra-margin-top-small">Blake Plumb</h4>
            </div>
            <div tag="list"
                 component="ui-collection"
                 controller="components.material.layouts.List"
                 item-height="50"
                 padding-top="10"
                 padding-bottom="10"
                 item-component="./Item.html"
            >
            </div>
        </div>
        <div>
            <div class="background-primary">
                <div tag="menu-button" component="flat-button" light-theme class="extra-padding text-light text-large"><span class="icon-menu"></span></div>
            </div>
            <div component="group" class="extra-padding" collapse-small-phone>
                <div span="8" class="extra-padding-right">
                    <div class="box-shadow-1 background-light clearfix border-radius">
                        <h3 class="extra-padding text-secondary">Hello World form</h3>
                        <div component="group">
                            <div component="input" name="username" label="Username" span="6" class="extra-padding-left extra-padding-right" apply="components.material.inputs.InputRequiredBehavior"></div>
                            <div component="input" name="password" label="Password" password span="6" class="extra-padding-left extra-padding-right" apply="components.material.inputs.InputRequiredBehavior"></div>
                        </div>
                        <div component="dropdown" label="Select A Fruit" class="extra-padding">
                            <div selector="menu">
                                <div>Apple</div>
                                <div>Banana</div>
                                <div>Pear</div>
                            </div>
                        </div>
                        <div component="flat-button" class="text-large extra-padding pull-right text-success">Submit <i class="icon-check" /></div>
                        <div component="flat-button" class="text-large extra-padding pull-right text-muted">Cancel <i class="icon-close" /></div>
                    </div>
                </div>
                <div span="4" class="extra-padding-right">
                    <div class="box-shadow-1 background-primary clearfix border-radius">
                        <h3 class="text-light extra-padding-top extra-padding-left extra-padding-right">My Cats</h3>
                        <div component="group">
                            <div span="6" class="extra-padding">
                                <img class="background-light border-radius extra-padding extra-margin-bottom" src="http://placekitten.com/350/200" />
                                <img class="background-light border-radius extra-padding" src="http://placekitten.com/350/200" />
                            </div>
                            <div span="6" class="extra-padding">
                                <img class="background-light border-radius extra-padding" src="http://placekitten.com/350/400" />
                            </div>
                        </div>
                        <div component="raised-button" light-theme class="text-large extra-padding pull-right text-light background-success extra-margin">Like</div>
                        <div component="raised-button" light-theme class="text-large extra-padding pull-right text-light background-warning extra-margin">Meh</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
