﻿<div item controller="demos.training5222015.Item">
    <style>
        [item] {
            margin: 0;
            text-align: left;
            border: none;
            display: block;
            padding: 14px 16px;
            clear: both;
            font-weight: normal;
            line-height: 20px;
            white-space: nowrap;
            cursor: pointer;
        }

        [item]:hover {
            background: rgba(0,0,0,0.04);
        }
    </style>
    <div tag="name"></div>
</div>