﻿<div ui-collection controller="components.internetExplorer.ui.layouts.UICollection">
    <style>
        [ui-collection] {
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }

        [ui-collection-content] {
            position: relative;
        }
    </style>
    <div ui-collection-content tag="content">
        <embed />
    </div>
</div>
