<div style="border:1px solid #FFFFFF;position:absolute;padding:3px;margin:3px" controller="app.components.layouts.PlayerItem">
  <style component="css-helpers"></style>
  <style>
    .selected {
      border:1px solid #102030 !important;
    }
  </style>

  <div class="text-primary" tag="name"></div>
  <div class="text-secondary" >Score: <span tag="points"></span></div>
</div>
