﻿<div controller="demo.AppMain">
    <style component="css-helpers"></style>
    <div tag="tooltip-manager" component="tooltip-manager" class="background-light fill-parent">
        <div component="./Content.html"></div>
    </div>
</div>
