﻿<div content controller="demo.Content">
    <style>
        [content] > [first] {
            position: absolute;
            top: 100px;
            left: 100px;
            width: 50px;
            height: 50px;
            background-color: #0094ff;
        }


        [content] > [second] {
            position: absolute;
            top: 200px;
            left: 200px;
            width: 50px;
            height: 50px;
            background-color: #4cff00;
        }
    </style>
    <div first tag="message"></div>
    <div second tag="element-message"></div>
    <span tag="custom-message" style="font-size: 11px;">This is a green block, and made from an element.</span>
</div> 