﻿<div component controller="demos.preloaderCircleView.Component">
    <style>
        [component] {
            width: 500px;
            height: 500px;
        }
    </style>
    <div tag="preloader-circle-view" component="preloader-circle-view"></div>
</div>
