﻿<div confirm controller="app.components.Confirm">
    <style component="./Theme.html"></style>
    <style>
        [confirm] {
            position: relative;
        }

        [confirm-buttons] {
            position: absolute;
            right: 15px;
            height: 35px;
            bottom: 15px;
            left: 15px;
            text-align: center;
        }

        [add-form-buttons] > button {
            margin-left: 15px;
        }

        [confirm-messages] {
            box-sizing: border-box;
            padding: 15px;
        }
    </style>
    <div confirm-messages tag="message"></div>
    <div confirm-buttons>
        <button tag="no" class="xp-button">No</button>
        <button tag="yes" class="xp-button">Yes</button>
    </div>
</div>