﻿<div main class="xp-form" controller="app.components.Main">
    <style component="css-helpers"></style>
    <style component="./Theme.html"></style>
    <style>
        [main-header] {
            position: absolute;
            top: 0;
            left: 0;
        }

        [main-content] {
            position: absolute;
            top: 25px;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 15px;
        }

        [main-tab-container] {
            position: relative;
            width: 100%;
            height: 100%;
        }
    </style>
    <div component="./WindowManager.html" class="absolute-fill-parent">
        <!--<div tag="collection" component="./database/IndependentCollection.html" main-tab-container>

        </div>-->
        <div main-header class="xp-header">Table Tennis</div>
        <div main-content>
            <div main-tab-container component="./Tabs.html">
                <div name="Data Management" tag="database" component="./database/DatabaseManager.html" class="absolute-fill-parent"></div>
            </div>
        </div>
    </div>
</div>