﻿<div tabs controller="app.components.Tabs">
    <style component="./Theme.html"></style>
    <style>
        [tabs] {
            position: relative;
            z-index: 1;
        }

        [tabs-container] {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 100%;
            overflow: visible;
            z-index: 2;
        }

        [tabs-content] {
            position: absolute !important;
            top: 35px;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
        }
    </style>
    <div tag="state-manager" component="state-manager" tabs-content class="xp-border">
        <embed />
    </div>
    <div unselectable tag="tabs-container" tabs-container>
    </div>
</div>