﻿<div window controller="app.components.Window">
    <style component="css-helpers"></style>
    <style component="./Theme.html"></style>
    <style>
        [window] {
            position: relative;
            padding: 4px;
            box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
            z-index: 1;
        }

        [window-handle] {
            position: absolute;
            top: 2px;
            left: 2px;
            right: 2px;
            height: 25px;
            background: linear-gradient(to right, #08296b, #a5c6ef);
            color: #fff;
            line-height: 25px;
            font-size: 16px;
            font-weight: bold;
            padding-left: 2px;
            background-color: #d6d6ce;
        }

        [window-background] {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            box-sizing: border-box;
        }

        [window-container] {
            position: absolute;
            top: 29px;
            left: 2px;
            bottom: 2px;
            right: 2px;
            z-index: 1;
        }

        [window-name] {
            text-align: left;
            position: absolute !important;
            top: 2px;
            left: 4px;
            right: 23px;
            line-height: 20px;
            height: 20px;
            box-sizing: border-box !important;
            cursor: pointer;
            color: #fff;
            font-size: 14px;
            font-weight: normal;
            cursor: default;
        }

        [window-close] {
            width: 21px !important;
            height: 21px !important;
            text-align: center;
            position: absolute !important;
            top: 2px;
            right: 2px;
            line-height: 20px;
            box-sizing: border-box !important;
            cursor: pointer;
        }
    </style>
    <div window-background class="xp-form xp-border"></div>
    <div tag="handle" window-handle unselectable>
        <div tag="name" unselectable window-name>Window Name</div>
        <div tag="close" window-close unselectable class="xp-button">X</div>
    </div>
    <div tag="container" window-container>
        <embed select=":first-child" />
    </div>
</div>