﻿<div>
    This is an embedding component. It composes developers input and refines what it takes with a css selector.
    <div>
        I select divs
        <embed select="div" />
    </div>

    <div>
        I select spans <br />
        <embed select="span" />
    </div>
</div>