﻿<div style="padding:4px;" class="black">
    This is an embedding component. It composes developers input.
    <div>
        <embed />
    </div>
    The content the developer supplied should appear above this statement.
</div>