﻿<div header-content controller="app.HeaderContent">
    <style>
        [header-content-header] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 200px;
            background-color: green;
        }

        [header-content-body] {
            position: absolute;
            top: 200px;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: red;
            overflow: auto;
        }
    </style>
    <div header-content-header>
        <embed select="div:nth-child(1)" />
    </div>
    <div header-content-body>
        <embed select="div:nth-child(3)" />
    </div>
</div>