﻿<div list-item controller="demos.ListItem">
    <style component="css-helpers"></style>
    <style>
        [list-item] {
            background-color: lightblue;
            border: 1px solid white;
            padding: 16px;
            box-sizing: border-box;
            border-bottom: 0px;
            height: 80px;
        }

        [list-item]:last-child {
            border-bottom: 1px solid white;
        }
    </style>
    <button type="button" tag="deleteButton">Delete</button>
    <br />
    <div tag="nameText"></div>
</div>