﻿<div list-item controller="demos.ListItem">
    <style component="css-helpers"></style>
    <style>
        [list-item] {
            background-color: red;
            border: 1px solid green;
            padding: 16px;
            box-sizing: border-box;
            border-bottom: 0px;
        }

            [list-item]:last-child {
                border-bottom: 1px solid green;
            }
    </style>
</div>