﻿<div main-component controller="demos.uiPopover.Component">
    <style component="css-helpers"></style>
    <style>
        [main-component] {
            padding: 100px;
        }
    </style>
    <div class="background-light extra-margin extra-padding border-radius">
        <div component="group" class="extra-padding">
            <div span="4" class="text-center">
                <span tag="top" component="raised-button" class="extra-padding" tabindex="0">Top</span>
            </div>
            <div span="4" class="text-center">
                <span tag="bottom" component="raised-button" class="extra-padding" tabindex="0">Bottom</span>
            </div>
            <div span="4" class="text-center">
                <span tag="left" component="raised-button" class="extra-padding" tabindex="0">Left</span>
            </div>
        </div>
    </div>
</div>
