<div app-main controller="app.components.AppMain" >
  <style component="css-theme"></style>      
  <style component="css-helpers"></style>
  <style component="css-material-icons"></style>
  <style>
    [app-main-state] {
      transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
      backface-visibility: hidden;
    }

    [app-main-hamburger-menu] {
      width: 300px;
      height: 100%;
      font-size: 16px;
      position: relative;
    }

    [app-main-header] {
      position: relative;
      height: 50px;
      line-height: 50px;
      z-index: 2;
    }


  </style>
  <div tag="two-column-left-overlay" component="two-column-left-overlay">
    <div app-main-hamburger-menu class="background-light">
      <div class="background-primary extra-padding clearfix extra-margin-bottom">
        
	<div tag="bracket-button" class="extra-padding text-left fill-parent-width" component="flat-button">
          <i class="material-icons extra-padding-right">nature_people</i>BRACKET
	</div>
	<div tag="players-button" class="extra-padding text-left fill-parent-width" component="flat-button">
          <i class="material-icons extra-padding-right">people</i>PLAYERS
	</div>
      </div>
    </div>
    <div class="fill-parent background-light">
      <div app-main-header class="background-primary box-shadow-1 text-light">
        <div tag="hamburger-menu-button" component="flat-button" light-theme class="extra-padding-left extra-padding-right text-light pull-left">
          <i class="material-icons text-headline inherit-line-height">menu</i>
        </div>
        <div class="text-headline ellipsis extra-padding-left" style="padding-top: 9px;">Table Tennis</div>
      </div>
      <div component="ui-state-manager" tag="state-manager" class="state-manager" style="top:50px">
	<div name="main"></div>
	<div app-main-state component="bracket-state" name="bracket-state" class="state">
	</div>
	<div app-main-state component="add-player-state" name="add-player-state" class="state">
	</div>
	<div app-main-state component="edit-player-state" name="edit-player-state" class="state">
	</div>
	<div app-main-state component="add-match-state" name="add-match-state" class="state">
	</div>
	<div app-main-state component="player-list-state" name="player-list-state" class="state">
	</div>
      </div>
      
    </div>
  </div>
  
</div>
