﻿<div controller="ListItem">
    <div tag="container" style="border-radius:2px; position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px;box-shadow:0px 0px 5px rgba(0,0,0,0.3);">
        <div tag="title"></div>
    </div>
</div>