﻿<div one-to-many-target-input controller="app.components.inputs.OneToManyTargetInput">
    <style>
        [one-to-many-target-input] {
            box-sizing: border-box;
        }
    </style>
    <fieldset>
        <legend tag="label"></legend>
        <div tag="description" style="padding:15px 0;"></div>
        <button tag="select-button" class="xp-button" style="width:100%;">Select</button>
    </fieldset>
</div>