﻿<div one-to-many-input controller="app.components.inputs.OneToManyInput">
    <style>
        [one-to-many-input] {
            box-sizing: border-box;
        }
    </style>
    <fieldset>
        <legend tag="label"></legend>
        <button tag="manage-button" class="xp-button" style="width:100%;">Manage</button>
    </fieldset>
</div>