﻿<div one-to-one-target-input controller="app.components.inputs.OneToOneTargetInput">
    <style>
        [one-to-one-target-input] {
            box-sizing: border-box;
        }
    </style>
    <fieldset>
        <legend tag="label"></legend>
        <div tag="description"></div>
        <button tag="select-button" class="xp-button" style="width:100%;">Select</button>
    </fieldset>
</div>