﻿<div one-to-one-input controller="app.components.inputs.OneToOneInput">
    <style>
        [one-to-one-input] {
            box-sizing: border-box;
        }
    </style>
    <fieldset>
        <legend tag="label"></legend>
        <div tag="description" style="padding:15px 0;"></div>
        <button tag="edit-button" class="xp-button" style="width:100%;">Edit</button>
    </fieldset>
</div>