﻿<div select-input controller="app.components.inputs.Select">
    <style>
        [select-input] {
            box-sizing: border-box;
        }
    </style>
    <div tag="label"></div>
    <div><select tag="input" class="xp-input" style="width:100%;"></select></div>
    <div tag="error-message"></div>
</div>