﻿<div text-input controller="app.components.inputs.Text">
    <style>
        [text-input] {
            box-sizing: border-box;
        }
    </style>
    <div tag="label"></div>
    <input tag="input" class="xp-input" style="width: 100%;" />
    <div tag="error-message"></div>
</div>