﻿<div textarea-input controller="app.components.inputs.Textarea">
    <style>
        [textarea-input] {
            box-sizing: border-box;
        }
    </style>
    <div tag="label"></div>
    <textarea tag="input" class="xp-textarea" style="width: 100%;"></textarea>
    <div tag="error-message"></div>
</div>