﻿<div collection-form controller="app.components.database.CollectionForm">
    <style>
        [collection-form] {
            position: relative;
            box-sizing: border-box;
        }

        [collection-form-container] {
            position: relative;
            width: 100%;
            height: 100%;
        }

        [collection-form-table] {
            position: absolute !important;
            top: 0;
            left: 0;
            right: 142px;
            bottom: 0;
        }

        [collection-form-actions] {
            position: absolute;
            top: 0;
            right: 0;
            width: 142px;
            height: 100%;
            text-align: right;
        }

        [collection-form-top-actions] > .hide {
            margin-bottom: 0;
        }

        [collection-form-top-actions] > * {
            margin: 0;
            margin-bottom: 15px;
        }
    </style>
    <div collection-form-container>
        <div style="position:absolute;top:0;left:0;right:142px;height:50px;">
            <div style="position:absolute;top:0;left:0;right:35px;">
                <input tag="search" type="text" class="xp-input" style="width:100%;" />
            </div>
            <div style="text-align:center;width:35px;height:35px;position:absolute;top:0;right:0;">
                <img src="/images/search.png" style="width:25px;position:absolute;top:50%;right:50%;transform:translate(50%, -50%);" />
            </div>
        </div>
        <div style="position:absolute;top:50px;left:0;bottom:0;right:0;">
            <div tag="table" collection-form-table component="./Table.html">

            </div>
            <div collection-form-actions>
                <div collection-form-top-actions style="position:absolute;top:0;right:0;">
                    <p>
                        <button tag="add" class="xp-button">Add</button>
                    </p>
                    <p>
                        <button tag="edit" disabled class="xp-button">Edit</button>
                    </p>
                    <p>
                        <button tag="delete" disabled class="xp-button">Delete</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>