﻿<div independent-collection controller="app.components.database.IndependentCollection">
    <style component="css-helpers"></style>
    <style>
        [independent-collection] {
            position: relative;
            box-sizing: border-box;
        }

        [independent-collection-form] {
            width: 100%;
            height: 100%;
        }
    </style>
    <div tag="collection" component="./CollectionForm.html" independent-collection-form>

    </div>
</div>