﻿<div many-to-many-form controller="app.components.database.OneToOneTargetForm">
    <style component="./../Theme.html"></style>
    <style>
        [many-to-many-form] {
            position: relative;
            padding: 15px;
        }

        [many-to-many-form-container] {
            position: relative;
            width: 100%;
            height: 100%;
        }

        [many-to-many-form-search] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50px;
        }

        [many-to-many-form-actions] {
            position: absolute;
            right: 0px;
            height: 35px;
            bottom: 0px;
            left: 0px;
            text-align: right;
        }

            [many-to-many-form-actions] > button {
                margin-left: 15px;
            }

        [many-to-many-form-table] {
            position: absolute !important;
            top: 65px;
            bottom: 50px;
            left: 0;
            right: 0;
        }
    </style>
    <div many-to-many-form-container>
        <div many-to-many-form-search>
            <div style="position:absolute;top:0;left:0;right:35px;">
                <input tag="search" type="text" class="xp-input" style="width:100%;" />
            </div>
            <div style="text-align:center;width:35px;height:35px;position:absolute;top:0;right:0;">
                <img src="/images/search.png" style="width:25px;position:absolute;top:50%;right:50%;transform:translate(50%, -50%);" />
            </div>
        </div>
        <div many-to-many-form-table component="./Table.html">

        </div>
        <div many-to-many-form-actions>
            <button tag="cancel" class="xp-button">Cancel</button>
            <button tag="select" class="xp-button">Select</button>
        </div>
    </div>
</div>