﻿<div one-to-many-collection controller="app.components.database.OneToManyCollection">
    <style component="css-helpers"></style>
    <style>
        [one-to-many-collection] {
            position: relative;
            box-sizing: border-box;
            padding: 15px;
        }

        [one-to-many-collection-form] {
            width: 100%;
            height: 100%;
        }
    </style>
    <div tag="collection" component="./CollectionForm.html" one-to-many-collection-form>

    </div>
    <div style="position: absolute; bottom: 0; right: 15px;">
        <p>
            <button tag="ok" class="xp-button">Done</button>
        </p>
    </div>
</div>