﻿<div one-to-one-form controller="app.components.database.OneToOneForm">
    <style component="./../Theme.html"></style>
    <style>
        [one-to-one-form] {
            position: relative;
        }

        [one-to-one-form-fields] {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 65px;
            right: 0;
            overflow-y: auto;
            padding: 15px;
            padding-top: 0;
            border-bottom: 2px solid #f7f7f7;
        }

        [one-to-one-form-buttons] {
            position: absolute;
            right: 15px;
            height: 35px;
            bottom: 15px;
            left: 15px;
            text-align: right;
        }

            [one-to-one-form-buttons] > button {
                margin-left: 15px;
            }
    </style>
    <div tag="form" one-to-one-form-fields component="./Form.html">

    </div>
    <div one-to-one-form-buttons>
        <button tag="cancel" class="xp-button">Cancel</button>
        <button tag="save" class="xp-button">Save</button>
    </div>
</div>