﻿<div table-list-item unselectable controller="app.components.database.TableListItem">
    <style component="css-helpers"></style>
    <style>
        [table-list-item] {
            position: relative;
            cursor: pointer;
            box-sizing: border-box;
            border-bottom: 1px solid #ccc;
        }

            [table-list-item].selected {
                background-color: #0094ff !important;
                color: #fff;
            }
    </style>
</div>