﻿<div table-form controller="app.components.database.Table">
    <style component="css-helpers"></style>
    <style>
        [table-form] {
            position: relative;
        }

        [table-form-header] {
            width: 100%;
            overflow-y: scroll;
            height: 25px;
            position: absolute;
            top: 0;
            left: 0;
        }

        [table-form-header-group] {
            width: 100%;
            overflow: hidden;
            height: 25px;
            position: relative;
            background-color: #d6d6ce;
            z-index: 3;
        }

        [table-form-data] {
            width: 100%;
            overflow-y: scroll !important;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: white;
            z-index: 2;
        }
    </style>
    <div class="xp-inset absolute-fill-parent">
        <div table-form-header>
            <div tag="header" table-form-header-group>
            </div>
        </div>
        <div tag="list"
             table-form-data
             component="ui-collection"
             item-component="./TableListItem.html"
             padding-top="25"
             item-height="25"
             controller="components.material.layouts.List">
        </div>
    </div>
</div>