﻿<div table-name-list-item controller="app.components.database.TableNameListItem">
    <style>
        [table-name-list-item] {
            padding-left: 10px;
            height: 25px;
            line-height: 25px;
            box-sizing: border-box;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
        }

            [table-name-list-item].selected {
                background-color: #0094ff;
                color: #fff;
            }
    </style>
</div>
