﻿<div controller="uiStateManagerDemo.AppMain">
    <style component="css-helpers"></style>

    <div component="ui-navigation" class="fill-parent">
        <div style="height: 60px; line-height: 60px;">
            <div tag="pop" class="pull-left">
                <button>Pop</button>
            </div>
            <div class="pull-right">
                <select tag="state-name">
                    <option value="one">One</option>
                    <option value="two">Two</option>
                    <option value="three">Three</option>
                </select>
                <button tag="push">Push</button>
            </div>
        </div>
        <div tag="state-manager" component="ui-state-manager">
            <div name="one" component="./StateOne.html"></div>
            <div name="two" component="./StateTwo.html"></div>
            <div name="three" component="./StateThree.html"></div>
        </div>
    </div>
</div>