﻿<div lazy-load-component controller="demos.lazyLoadState.LazyLoadComponent" class="extra-padding background-light">
    <style component="css-helpers"></style>
    <style>
        [lazy-load-component] {
            width: 300px;
            height: 300px;
            margin: 0 auto;
            position: relative;
            top: 30px;
            overflow: hidden;
        }
    </style>

    <div component="state-manager" tag="state-manager" class="fill-parent">
        <div component="lazy-load" name="first" lazy-load="./First.html" lazy-load-class="absolute-fill-parent background-danger" class="absolute-fill-parent">
            <div class="fill-parent">
                <div style="height: 60px; background-color: purple; "></div>
                <div component="preloader-circle-view" style="height: 240px; width: 100%;"></div>
            </div>
        </div>
        <div tag="second" component="lazy-load" name="second" lazy-load="./Second.html" class="fill-parent">
            <div component="preloader-circle-view"></div>
        </div>
    </div>
</div>
