﻿<div controller="FlowCard" style="width:300px;padding:5px;">
    <style component="css-helpers"></style>
    <div style="width: 100%; height: 100%; border-radius: 2px; box-shadow: 0px 0px 5px;">
        <div style="padding:10px;background-color:#123456;">
            <div tag="left" class="pull-left">Left</div>
            <div tag="right" class="pull-right">Right</div>
            <div tag="middle" style="text-align: center;">Hello</div>
        </div>
        <div style="width: 100%; height: 200px;">
            <div tag="centered" class="bullseye" style="text-align: center; display: inline-block;">
                <span tag="content">Content</span>
                <br />
                <span>Some Static content</span>
            </div>
        </div>
    </div>
</div>