﻿<div controller="LayeredCard" style="width:300px;padding:5px;">
    <div tag="card" style="width: 100%; height: 100%; border-radius: 2px; box-shadow: 0px 0px 5px;">
        <div tag="container">
            <!--<img tag="image" style="position:absolute;width:100px;opacity:0.3;top:60px;left:0;">-->
            <div style="position: relative; padding: 10px; background-color: #123456;height:60px;line-height:60px;">
                <div tag="left" style="position:absolute;top:0;left:0;right:66%;bottom:0;text-align:left;">Left</div>
                <div tag="right" style="position:absolute;top:0;left:66%;right:0;bottom:0;text-align:right;">Right</div>
                <div tag="middle" style="position:absolute;top:0;left:33%;right:33%;bottom:0;text-align: center;">Hello</div>
            </div>
            <div style="width: 100%; height: 200px;">
                <div tag="centered" class="bullseye" style="text-align: center; display: inline-block;">
                    <span tag="content">Content</span>
                    <br />
                    <span>Some Static content</span>
                </div>
            </div>
        </div>
    </div>
</div>