﻿<div controller="PeopleList">
    <style components="css-helpers"></style>
    <div tag="state-manager" component="state-manager" class="absolute-fill-parent">
        <div tag="detail" name="detail" component="./PersonDetail.html" class="absolute-fill-parent"></div>
        <div tag="list" name="list" component="ui-collection"
             controller="components.material.layouts.List"
             item-height="200"
             item-component="./PersonCard.html"
             padding-top="25"
             padding-bottom="25"
             class="absolute-fill-parent">
        </div>
    </div>
</div>