﻿<div person-card controller="PersonCard">
    <style component="css-helpers"></style>
    <style>
        [person-card] {
            position: relative;
            padding: 5px;
            width: 100%;
        }
    </style>

    <div style="background-color:#fff; position: relative; width: 100%; height: 100%; box-shadow: 0px 2px 5px rgba(0,0,0,0.3);">
        <div tag="name" style="font-size: 22px; line-height: 60px; color: #fff; background-color: #0094ff; text-align: center; position: absolute; top: 0; left: 0; width: 100%; height: 60px; ">
            <span tag="firstName">First</span>  <span tag="lastName">Last</span>
        </div>
        <div style="position: absolute; top: 50px; left: 0; text-align: center; width: 100%;">
            <img tag="image" style="overflow: hidden; box-sizing: border-box; border-radius: 50%; height: 80px; width: 80px; background-color: #ccc;" />
        </div>
        <div tag="title" style="color: #999; font-size: 16px; position: absolute; top: 140px; left: 0; text-align: center; width: 100%; ">
            Title
        </div>
    </div>
</div>