﻿<div person-detail controller="PersonDetail">
    <style>
        [person-detail] {
            position: relative;
        }
    </style>
    <div tag="veil" class="absolute-fill-parent" style="background-color:#000;opacity:0;"></div>
    <div tag="mock-card" style="position:absolute;padding:5px;">
        <div style="position:relative;width:100%;height:100%;">
            <div tag="detail-body" style="position:absolute;top:0;left:0;background-color:#fff;width:100%;">

            </div>
            <div tag="call-button" style="color:#fff;line-height:40px;background-color:#fff; font-size: 18px; position: absolute; transform:translateY(60px); left: 0; text-align: center; width: 100%; height:140px; ">
                Call
            </div>
            <div tag="name" style="font-size: 22px; line-height: 60px; color: #fff; background-color: #0094ff; text-align: center; position: absolute; top: 0; left: 0; width: 100%; height: 60px; ">
                <span tag="firstName">First</span>  <span tag="lastName">Last</span>
            </div>
            <div tag="image-container" style="position: absolute; transform:translateY(50px);left: 0; text-align: center; width: 100%;">
                <img tag="image" style="overflow: hidden; box-sizing: border-box; border-radius: 50%; height: 80px; width: 80px; background-color: #ccc;" />
            </div>
            <div tag="title" style="color: #999; font-size: 16px; position: absolute; top: 140px; left: 0; text-align: center; width: 100%; ">
                Title
            </div>
        </div>
    </div>

</div>