﻿<div controller="modalManagerDemo.AppMain">
    <style component="css-helpers"></style>
    <div component="ui-navigation" header-height="60" class="fill-parent">
        <div style="height: 60px; line-height: 60px;">
            <div class="pull-left">
                <select tag="modal-name">
                    <option value="one">One</option>
                    <option value="two">Two</option>
                </select>
                <button tag="show">Show</button>
                <button tag="remove">Remove</button>
            </div>
        </div>
        <div tag="modal-manager" component="modal-manager" class="background-light fill-parent">
            <div component="./Content.html"></div>
            <div name="one" component="./ModalOne.html"></div>
            <div name="two" component="./ModalTwo.html"></div>
        </div>
    </div>
</div>
