﻿<div content controller="modalManagerDemo.Content">
    <style>
        [content] {
        }
    </style>
    This is my Content
    <button tag="showOne">Show One With Event</button>
    <button tag="hideOne">Hide One With Event</button>
</div> 