﻿<div state-two controller="modalManagerDemo.ModalTwo">
    <style>
        [state-two] {
            position: relative;
        }

        [state-two-modal] {
            width: 80%;
            height: 80%;
            background-color: green;
            position: absolute;
            top: 10%;
            left: 10%;
        }
    </style>
    <div state-two-modal>Modal One</div>
</div>