﻿<div modal-one controller="modalManagerDemo.ModalOne">
    <style>
        [modal-one] {
            position: relative;
        }

        [modal-one-veil] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.35;
        }

        [modal-one-modal] {
            width: 80%;
            height: 80%;
            background-color: red;
            position: absolute;
            top: 10%;
            left: 10%;
        }
    </style>
    <div tag="veil" modal-one-veil> </div>
    <div modal-one-modal>
        Modal One
        <button tag="close">Close</button>
    </div>

</div>