﻿<div controller="demos.multiSelect.AppMain">
    <style component="css-helpers"></style>
    <style component="css-material-icons"></style>
    <style>
        [app-main-multi-select-add] {
            width: 56px;
            height: 56px;
            line-height: 56px;
            border-radius: 50% !important;
        }
    </style>
    <div tag="multi-select" component="multi-select" item-component-name="./Item.html" helper-text="I am a custom message">
        <div app-main-multi-select-add component="raised-button" light-theme class="background-danger text-light"><i class="material-icons inherit-line-height text-display-1">add</i></div>
    </div>
</div>