﻿<div item controller="demos.multiSelect.Item">
    <style component="css-material-icons"></style>
    <style>
        [item] {
            background-color: #FFF;
            border: 1px solid #ccc;
            margin: 0;
            text-align: left;
            display: block;
            padding: 14px 16px;
            clear: both;
            font-weight: normal;
            line-height: 20px;
            white-space: nowrap;
            cursor: pointer;
        }
        [item]:hover {
            background: rgba(0,0,0,0.04);
        }
    </style>
    <div item-label>
        <div tag="clear" component="flat-button"><i class="material-icons">clear</i></div>
        <span tag="name" item-name></span>
    </div>
</div>