<div app-leaf-state controller="app.components.states.AddMatchState">
  <div class="app-title">Save Match</div>
  <div style="top:60px" class="app-form">
    <div class="app-form-input" add-match-name tag="player-a-name"></div>
    <div class="app-form-input" tag="player-a-wins" apply="components.material.inputs.InputRequiredBehavior;app.components.behaviors.NumberGreaterThanEqualToZeroValidator" component="input" label="Number of Wins"></div>
    <div class="app-form-input" add-match-name tag="player-b-name"></div>
    <div class="app-form-input" tag="player-b-wins" apply="components.material.inputs.InputRequiredBehavior;app.components.behaviors.NumberGreaterThanEqualToZeroValidator" component="input" label="Number of Wins"></div>
  </div>
  <div tag="cancel-button" component="flat-button" class="text-subhead text-tertiary extra-padding-right extra-padding-left extra-padding-top-small extra-padding-bottom-small" style="position:absolute;left:15px;top:240px;">
    CANCEL
  </div>
  <div tag="save-button" component="flat-button" class="text-subhead text-tertiary extra-padding-right extra-padding-left extra-padding-top-small extra-padding-bottom-small" style="position:absolute;right:5px;top:240px;">
    SAVE
  </div>
</div>
