<div class="app-leaf-state" controller="app.components.states.BracketState">
  <style>
    [bracket-row]:{
      //display: table;
      //width: 100%;
      //table-layout: fixed;    /* For cells of equal size */
      position:absolute
    }
  </style>
</div>
