<div app-leaf-state controller="app.components.states.EditPlayerState">
  <div class="app-title" >Edit <span tag="title">Player</span></div>
  <div component="player-form" tag="player-form" style="top:60px"></div>
  <div tag="cancel-button" component="flat-button" class="text-subhead text-tertiary extra-padding-right extra-padding-left extra-padding-top-small extra-padding-bottom-small" style="position:absolute;left:15px;top:120px;">
    CANCEL
  </div>
  <div tag="save-button" component="flat-button" class="text-subhead text-tertiary extra-padding-right extra-padding-left extra-padding-top-small extra-padding-bottom-small" style="position:absolute;right:5px;top:120px;">
    SAVE
  </div>
</div>
