<div class="app-leaf-state" controller="app.components.states.PlayerListState">
  <div class="app-title">Players</div>
      
  <div class="app-collection"
       tag="player-list"
       component="ui-collection"
       controller="components.material.layouts.List"
       item-height="75"
       padding-top="75"
       item-component="player-item">
  </div> 
  <div tag="add-button" component="raised-button" title="Add a Player" class="app-fab circle-radius box-shadow-2 background-danger"><i class="material-icons text-
display-1 inherit-line-height text-light">add</i></div>
</div>
