﻿<div animation-player controller="demos.animations.components.AnimationPlayer">
    <style component="icons-material-video-controls"></style>
    <style>
        [animation-player] {
            background-color: #000;
            position: relative;
        }

        [animation-player-action-bar] {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30px;
            background-color: #333;
            overflow: hidden;
        }

        [animation-player-progress-bar] {
            position: absolute;
            bottom: 0;
            left: 30px;
            right: 0;
            top: 0;
            background-color: #333;
            overflow: hidden;
        }

        [animation-player-progress-handle] {
            width: 30px;
            height: 30px;
            position: relative;
            background-color: #999;
            border-radius: 50%;
        }

        [animation-player-playground] {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 30px;
            overflow: hidden;
        }

        [animation-player-play-button] {
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            background-color: #555;
            line-height: 30px;
            font-size: 20px;
            text-align: center;
            color: #ccc;
            cursor: pointer;
        }
    </style>
    <div animation-player-playground tag="animation">
        <embed />
    </div>
    <div tag="action-bar" animation-player-action-bar>
        <div tag="play-button" animation-player-play-button class="box-shadow-2">
            <i class="icon-play"></i>
        </div>
        <div tag="progress-bar" animation-player-progress-bar>
            <div tag="progress-handle" style="cursor:pointer;" class="box-shadow-1" animation-player-progress-handle component="ui-draggable"></div>
        </div>
    </div>
</div>