﻿<div controller="demos.animations.components.EasingAnimation">
    <style component="css-helpers"></style>
    <h3>Easings</h3>
    <div class="background-light border-radius extra-padding">
        <p>Select a easing and push play.</p>
        <select tag="easing-selector">
            <option>linear</option>
            <option>easeInQuad</option>
            <option>easeOutQuad</option>
            <option>easeInOutQuad</option>
            <option>easeInCubic</option>
            <option>easeOutCubic</option>
            <option>easeInOutCubic</option>
            <option>easeInQuart</option>
            <option>easeOutQuart</option>
            <option>easeInOutQuart</option>
            <option>easeInQuint</option>
            <option>easeOutQuint</option>
            <option>easeInOutQuint</option>
            <option>easeInSine</option>
            <option>easeOutSine</option>
            <option>easeInOutSine</option>
            <option>easeInExpo</option>
            <option>easeOutExpo</option>
            <option>easeInOutExpo</option>
            <option>easeInCirc</option>
            <option>easeOutCirc</option>
            <option>easeInOutCirc</option>
            <option>easeInElastic</option>
            <option>easeOutElastic</option>
            <option>easeInOutElastic</option>
            <option>easeInBack</option>
            <option>easeOutBack</option>
            <option>easeInOutBack</option>
            <option>easeInBounce</option>
            <option>easeOutBounce</option>
            <option>easeInOutBounce</option>
        </select>
        <div tag="easing-animation" style="width: 800px; height: 400px;" component="./AnimationPlayer.html">
            <div tag="easing-animation-ball" style="position: absolute; top: 135px; background-color: #0094ff; border-radius: 50%; width: 100px; height: 100px; "></div>
        </div>
    </div>
</div>