﻿<div demo-main controller="demos.DemoMain">
    <style>
        [demo-main] > [tag="contextMenu"] {
            position: absolute;
            padding: 0;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        [demo-main] > [tag="contextMenu"] > [tag="itemCollection"] {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        [demo-main] > [tag="contextMenu"] .action-item {
            padding: 10px 15px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            color: #CCCCCC;
            font-size: 3em;
        }

    </style>
    <div component="ui-context-menu" tag="contextMenu">
        <div component="ui-collection" tag="collection"></div>
    </div>
</div>