﻿<div vehicle-item controller="demos.VehicleItem">
    <style>
        [vehicle-item] {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        [vehicle-item].checked {
            background-color: blue;
        }

    </style>
    <div tag="label"></div>
    <div>Altitude: <span tag="altitude"></span></div>
    <div>Fuel: <span tag="fuel"></span></div>
    <div>Type: <span tag="type"></span></div>
    <button tag="select">select</button>
</div>